.p-archive{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.p-archive+.p-archive{
  margin-top: 1rem;
}
.p-archive__tag{
  width: 10%;
  // position: relative;
}
// .p-archive__tag::before{
//   content: "";
//   display: block;
//   padding-top: 70%;
// }
.p-archive__tag img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.p-archive__action{
  width: 50%;
}
.p-archive__time{
  width: 30%;
}
.p-archive__edit{
  width: 10%;
  display: flex;
  gap: 0.5rem;
}
.p-archive__edit-img{
  width: calc((100% - 0.5rem)/2);
}
.p-archive__edit-img input[type=image]{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.p-archive__delete{
  margin-top: 2rem;
  text-align: center;
  @media screen and(min-width:768px){
    width: 80%;
  }
}

.p-archive-total{
  position: fixed;
  top: 12%;
  right: -3%;
  width: 10rem;
  height: 5rem;
  // background-color: #D32F2F;
  // border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and(min-width:768px){
    top: 15%;
    right: 7%;
    width: 11rem;
    height: 7rem;
  }
}
.p-archive-total p{
  color: #fff;
  z-index: 1;
}
.p-archive-total p span{
  font-size: 1.2rem;
}

.p-archive-total__bg{
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 20%;
  mix-blend-mode: multiply;
  @media screen and(min-width:768px){
    width: 7rem;
    height: 7rem;
  }
}
.circle-1 {
  background: #e75454;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
}

/* Animation */
@keyframes border-animation {
  to { transform: rotate(360deg); }
}